<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seethehorizon"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Wallpaper.NoTitleBar" >
        <activity
            android:name=".Main"
          	android:configChanges="orientation|keyboardHidden|navigation"
            android:label="@string/app_name" 
            android:excludeFromRecents="true"           
            android:screenOrientation="portrait"  
            android:launchMode="singleTask">
            <intent-filter  android:priority = "1000">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service 
            android:name="com.example.seethehorizon.RefreshServer">
            <intent-filter 
                android:priority="1000">
            </intent-filter>
        </service>
    </application>
   	<uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> 
	<uses-permission android:name="android.permission.WAKE_LOCK" />  
	<uses-permission android:name="android.permission.VIBRATE"/> 
</manifest>
